{% extends "layout.html" %}
{% block Content %}
  <div class="content-section">
      <form action="POST",action=""> #action attribute specifies the url where the data is send when user hit submit ,Leaving it empty send the data to the route
           {{ form.hidden_tag() }} #form.hidden_tag() is used for protection
          <fieldset class="form-group">
               <legend class="border-bottom mb-4">Join Today</legend>
              <div class="form-group">
                  {{form.UserName.label(class="form-control-label")}}
                  {{form.UserName(class="form-control form-control-lg")}}
              </div>

              <div class="form-group">
                  {{form.Email.label(class="form-control-label")}}
                  {{form.Email(class="form-control form-control-lg")}}
              </div>

              <div class="form-group">
                  {{form.Password.label(class="form-control-label")}}
                  {{form.Password(class="form-control form-control-lg")}}
              </div>

              <div class="form-group">
                  {{form.Confirm_Password.label(class="form-control-label")}}
                  {{form.Confirm_Password(class="form-control form-control-lg")}}
              </div>

              <div class="form-group">
                  {{form.Submit.label(class="btn btn-outline-info")}}
              </div>

          </fieldset>
      </form>
  </div>

  <div class="border-top pt-3">
      <small class="text-muted">
        Already Have An Account <a class="ml-2" href="{{url_for('login')}}">Sign In</a>
      </small>

  </div>
{% endblock %}
